# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache
dist
node_modules
*.tsbuildinfo

# IDE
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local
.env*

# Typescript
*.tsbuildinfo

# Testing result
test-results/
