@use "../../styles/mixin.scss"as mixin;


// Structure
.ButtonContainer {
  @include mixin.flex((align-items: center, justify-content: center, gap: 8px, inline: true));
  position: relative;
  cursor: pointer;
  font: inherit;
  line-height: 1;
  outline: none;
  user-select: none;
  white-space: nowrap;
  border: 1px solid var(--button-container-border-color);
  border-radius: var(--button-container-radius);
  background: var(--button-container-background-color);

  &::after {
    inset: 0;
    content: "";
    position: absolute;
  }

  &[data-disabled] {
    --button-content-text-color: color-mix(in srgb, red 38%, transparent);
    --button-content-icon-color: color-mix(in srgb, red 38%, transparent);
    --button-container-border-color: color-mix(in srgb, red 12%, transparent);
    --button-container-background-color: color-mix(in srgb, red 12%, transparent);
  }

}

.ButtonLabel {
  color: var(--button-content-text-color);
  font-size: var(--button-content-font-size);
}

.Button_Slot_Left,
.Button_Slot_Right {
  @include mixin.flex((justify-content: center, align-items: center));
  color: var(--button-content-icon-color);
  font-size: var(--button-content-icon-size);
}


// Variants
.Button_Variant_Solid {
  --button-content-text-color: var(--button-main-color-on-main);
  --button-content-icon-color: var(--button-main-color-on-main);
  --button-container-background-color: var(--button-main-color-main);
}

.Button_Variant_Plain {
  --button-container-border-color: var(--button-main-color-main);
}

.Button_Variant_Outline {
  --button-container-border-color: var(--button-main-color-main);
}

.Button_Variant_Soft {
  --button-container-border-color: var(--button-main-color-main);
}

.Button_Variant_Text {
  --button-container-border-color: var(--button-main-color-main);
}