.AbbesButtonToken {
  --button-main-color-main: var(--sys-color-white);
  --button-main-color-on-main: var(--sys-color-white);
  --button-main-color-main-container: var(--sys-color-white);
  --button-main-color-on-main-container: var(--sys-color-white);
  --button-container-gap: 8px;
  --button-container-radius: 8px;
  --button-container-height: 32px;
  --button-container-padding-x: 12px;
  --button-container-padding-y: 6px;
  --button-container-border-color: green;
  --button-container-background-color: white;
  --button-content-icon-size: 14px;
  --button-content-font-size: 14px;
  --button-content-icon-color: white;
  --button-content-text-color: black;
}
